<h1>Storage Slots</h1>

<ul>
<% for slot in @slots %>

	<li id="slot_<%= slot.id %>">
		<%= slot.name %> <%= slot.capacity %>
		| <%= link_to 'Edit', edit_slot_path(slot) %>
		| <%= link_to 'Delete', slot, :method => 'delete' %>
	</li>

<% end %>
</ul>


<%= link_to 'Create New Slot', new_slot_path, :class => 'button' %>
