<!DOCTYPE html>
<html>
<head>
  <title>Bagmaster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	<div class="container">
		<h1>Bag Master</h1>
		<nav>
			<ul>
				<li><%= link_to 'Members', members_path %></li>
				<li><%= link_to 'Bags', bags_path %></li>
				<li><%= link_to 'Storage Slots', slots_path %></li>
			</ul>
		</nav>
	</div>
	</header>
	<div class="container">

		<% flash.each do |name, message| %>
			<div id="flash_<%= name %>">
				<%= message %>
			</div>
		<% end %>

		<%= yield %>

	</div>
</body>
</html>
