<h1>Members</h1>

<ul>
<% for member in @members %>

	<li id="member_<%= member.id %>">
		<%= member.first %> <%= member.last %>
		| <%= link_to 'Edit', edit_member_path(member) %>
		| <%= link_to 'Delete', member, :method => 'delete' %>
	</li>

<% end %>
</ul>


<%= link_to 'Create New Member', new_member_path, :class => 'button' %>
